<div class="col-12">
    <div class="card">
        <div class="col-12">
            <h5><strong>Eventos</strong></h5>
        </div>
        <div class="col-12 noHorizontal">
         <span class="p-float-label p-input-icon-right w-full">
            <i class="pi pi-search"></i>
            <input type="text" class="w-full" id="search" pInputText>
            <label for="search">Buscar evento</label>
        </span>
        </div>
        <div class="formgrid grid mt-3">
            <div class="col-3">
                <div class="card flex cardAddSweepstakes justify-content-center align-self-center cursor-pointer">
                    <strong>Adicionar evento</strong>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="col-12 inline-flex">
                        <div class="col-8">
                            <div>
                                <span><strong>Nome:</strong> Sorteio X</span>
                            </div>
                            <div>
                                <span><strong>Prémio:</strong> Dofus Ocre</span>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <p-avatar icon="pi pi-eye" title="Editar" styleClass="mr-2" class="cursor-pointer"
                                      shape="circle"></p-avatar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
