<div class="col-12 mt-1 inline-flex">
    <div class="col-6">
        <span class="p-float-label">
            <input type="text" class="w-full" id="name" pInputText>
            <label for="name">Nome</label>
        </span>
    </div>
    <div class="col-6">
        <span class="p-float-label">
            <p-multiSelect class="w-full" id="games" optionLabel="name" [filter]="false"></p-multiSelect>
            <label for="games">Jogos</label>
        </span>
    </div>
</div>
<div class="col-12 inline-flex">
    <div class="col-6">
        <span class="p-float-label">
            <input type="text" class="w-full" id="nick" pInputText>
            <label for="name">Nick</label>
        </span>
    </div>
    <div class="col-6">
<!--        <span class="p-float-label">-->
<!--            <input type="text" class="w-full" id="name" pInputText>-->
<!--            <label for="name">Nome</label>-->
<!--        </span>-->
    </div>
</div>

<div class="col-12 inline-flex">
    <div class="col-6">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger"></button>
    </div>
    <div class="col-6 text-right">
        <button pButton pRipple type="button" label="Salvar" icon="pi pi-check" class="p-button-success"></button>
    </div>
</div>
